@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 338 59% 95%;
    --foreground: 240 10% 3.9%;
    --card: 338 59% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 338 59% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 342 72% 83%;
    --primary-foreground: 342 90% 15%;
    --secondary: 338 59% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 338 59% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 270 72% 83%;
    --accent-foreground: 270 90% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 342 72% 88%;
    --input: 342 72% 88%;
    --ring: 270 72% 83%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 340 45% 13%;
    --foreground: 340 10% 85%;
    --card: 340 45% 13%;
    --card-foreground: 340 10% 85%;
    --popover: 340 45% 13%;
    --popover-foreground: 340 10% 85%;
    --primary: 341 50% 77%;
    --primary-foreground: 340 10% 98%;
    --secondary: 340 45% 20%;
    --secondary-foreground: 340 10% 98%;
    --muted: 340 45% 20%;
    --muted-foreground: 340 5% 64.9%;
    --accent: 269 49% 71%;
    --accent-foreground: 340 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 341 30% 30%;
    --input: 341 30% 30%;
    --ring: 269 49% 71%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
